:root {
  /* colors */
  --color-pink: #FFC2EC;
  --color-yellow: #FFFF85;
  --color-green: #5EC42F;
  --color-blue: #47A6FF;
  --color-purple: #A796FF;
  --color-light-brown: #A47F6C;
  --color-med-brown: #806050;
  --color-dark-brown: #48342B;
  --color-med-ivory: #FFFFD6;
  --color-light-ivory: #FFFFF9;
  --color-transparent: hsla(0, 0%, 0%, 0);


  /* fonts */
  --circular-std: 'CircularStd', sans-serif;
  --super-std: 'SuperSchoolStd';
  --letters-std: 'LettersForLearnersStd';

  --font-sz-sm: calc(16px + 2vmin);
  --font-sz-md: calc(32px + 2vmin);
  --font-sz-lg: calc(56px + 2vmin);  
}

/* #region --- FONTS --- */ 
@font-face {
  font-family: 'CircularStd';
  src: url('../src/assets/fonts/circular_std/FontsFree-Net-Circular-Std-Book\ copy.ttf') 
       format('truetype');
}

@font-face {
  font-family: 'SuperSchoolStd';
  src: url('../src/assets/fonts/super-school/SuperSchool-vm47y.otf') 
       format('opentype');
}

@font-face {
  font-family: 'LettersForLearnersStd';
  src: url('../src/assets/fonts/letters_for_learners/Letters\ for\ Learners.ttf') 
       format('truetype');
}
/* #endregion --- FONTS --- */ 

.App {
  /* text-align: center; */
  font-family: var(--circular-std);
  color: var(--color-pink);
}