:root {
  /* colors */
  --color-pink: #FFC2EC;
  --color-yellow: #FFFF85;
  --color-green: #5EC42F;
  --color-blue: #47A6FF;
  --color-purple: #A796FF;
  --color-light-brown: #A47F6C;
  --color-med-brown: #806050;
  --color-dark-brown: #48342B;
  --color-med-ivory: #FFFFD6;
  --color-light-ivory: #FFFFF9;


  /* fonts */
  --circular-std: 'CircularStd', sans-serif;
  --super-std: 'SuperSchoolStd';
  --letters-std: 'LettersForLearnersStd';
}

@font-face {
  font-family: 'CircularStd';
  src: url('../src/assets/fonts/circular_std/FontsFree-Net-Circular-Std-Book\ copy.ttf') 
       format('truetype');
}

@font-face {
  font-family: 'SuperSchoolStd';
  src: url('../src/assets/fonts/super-school/SuperSchool-vm47y.otf') 
       format('opentype');
}

@font-face {
  font-family: 'LettersForLearnersStd';
  src: url('../src/assets/fonts/letters_for_learners/Letters\ for\ Learners.ttf') 
       format('truetype');
}

.App {
  text-align: center;
  font-family: var(--letters-std);
  color: var(--color-pink);
}

.App-logo {
  height: 40vmin;
  /* pointer-events: none; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
